<!--  bib.tipo 
	0 = Inproceeding #red  
	1 = Article #verde 
	2 = Book    #amarillo
	3 = Phdthesi #negro
	4 = Masterthesi #celeste
	5 = Incollection #naranjo-->




<% year = 0 %>
<% firstLine = 0 %>
<div class="container-allbibs-index">
<% if @bibtexs.size > 0 %>
	<% @bibtexs.each do |bibtex| %>

			<% if year != bibtex.year %>
				<% if firstLine != 0 %>
					<div class="line-separator"></div>
				<% end %>
				<% firstLine = firstLine +1   %>
				<% year = bibtex.year %>
				<strong><h2> <%= year %></h2></strong>
				<p> 
			<% end %>

			<p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if bibtex.tipo == 0 %>
				<div class="color-box" style="background-color:#ae163e;"></div>
			<% elsif bibtex.tipo == 1 %>
				<div class="color-box" style="background-color:#27ae60;"></div>
			<% elsif bibtex.tipo == 2 %>
				<div class="color-box" style="background-color:#f1c40f;"></div>
			<% elsif bibtex.tipo == 3 %>
				<div class="color-box" style="background-color:#2c3e50;"></div>
			<% elsif bibtex.tipo == 4 %>
				<div class="color-box" style="background-color:#3498db;"></div>
			<% elsif bibtex.tipo == 5 %>
				<div class="color-box" style="background-color:#d35400;"></div>
			<% end %>
			
			<p>
				<strong> <%= bibtex.author %> </strong> 
				<strong> <a href=<%=allbib_path(bibtex)%> > <%= bibtex.title %></a> </strong> 
				
				
				<%= link_to "Bibtex",  bibtex.path %>
				<strong><a href=<%=xm_path(bibtex)%>  style="color: rgb(241, 196, 15)"> Xml </a></strong> 
				<strong><a href=<%=json_path(bibtex)%> style="color: rgb(241, 196, 15)" > Json </a></strong> 
				<% if !bibtex.file.blank? %>
					<a href=<%= bibtex.file %> >
  							<img src="assets/pdf.ico" alt="Pdf File" height="20px" width="20px">
					</a>
				<% else  %>
					
					<% user = current_user %>

					<% if user != nil && user.superUser == 1 %>
						<%= link_to "Delete Bibtex", allbib_path(bibtex), :confirm => "Are you sure?", :method => :delete %> <!-- para borrar bibtex-->
				
						<% if !bibtex.pdf.present? && bibtex.file.blank?%>
							<a href=<%=new_pdf_path(:id => bibtex.id) %> > Add pdf </a>
						<% end %>

					<% end %>
					
					<% if bibtex.pdf.present? %>
						<%= link_to "Download pdf" ,Pdf.last.pdfFile.url(:original , false) %>
					<% end %>


				<% end %>

				

				
			<p>
		
	<% end %>

<% else %>
	<h2>There is not papers yet </h2>
<% end %>
</div>
<%= will_paginate @bibtexs%>