<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
<% end %>
<%= form_for(:attachment_metadata, :url => { :action => "create" }, :html => { :multipart => true }) do |form| %>
    <p>
    <%= file_field_tag 'upload[file]' , accept: 'application/bib' , required: true %>
    </p>
    <p>
    	<%= submit_tag "Upload" %>
    </p>
<% end %>

<a href=<%= bibtexs_path%>>General Bibtexs </a>